Repository d-velop/dvelop-sdk-node, pull requests merged in 2022-08, with the labels that each got.

#144 Update status method for dms.
  .github/workflows/full-quality-assurance.yml
  .github/workflows/release.yml
  .github/workflows/slim-quality-assurance.yml
  README.md
  packages/app-router/README.md
  packages/app-router/src/index.ts
  packages/business-objects/README.md
  packages/business-objects/src/index.ts
  packages/core/README.md
  packages/core/src/index.ts
  packages/dms/README.md
  packages/dms/package.json
  packages/dms/src/dms-objects/update-dms-object-status/update-dms-object-status.ts
  packages/dms/src/dms-objects/update-dms-object-status/update-dms-object.spec.ts
  packages/dms/src/index.ts
  packages/dms/src/internal.ts
  packages/express-utils/README.md
  packages/express-utils/src/index.ts
  packages/identityprovider/README.md
  packages/identityprovider/src/index.ts
  packages/task/README.md
  packages/task/src/index.ts
Labels: dms-app

#145 Merge develop into main.
  packages/dms/package.json
  packages/dms/src/dms-objects/update-dms-object-status/update-dms-object-status.spec.ts
  packages/dms/src/dms-objects/update-dms-object-status/update-dms-object-status.ts
  packages/dms/src/index.ts
  packages/dms/src/internal.ts
Labels: dms-app

#147 Fix bug: Bump core version in express-utils
  package-lock.json
  packages/express-utils/package.json
Labels: express-utils

#150 Updated documentation links
  packages/business-objects/README.md
  packages/business-objects/package.json
  packages/express-utils/README.md
  packages/express-utils/package.json
Labels: express-utils, business-objects

#151 Fix #146
  packages/core/package.json
  packages/core/src/http/axios-follow-hal-json.spec.ts
  packages/core/src/http/axios-follow-hal-json.ts
  packages/dms/package.json
Labels: dms-app, core
